<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Center For System Design</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
	</head>
	<body>
		
		<!--Logos-->
		<div class="images">
			<div class="cards">
				<img src="{% static 'css/images/logoCSD.jpeg' %}" alt="CSD Logo" height="180" width="230" class="special">
			</div>
			<div class="cards">
				<img src="{% static 'css/images/nitk.png' %}" alt="NITK Logo" height="180" width="210" class="special">
			</div>
			<div class="cards">
				<img src="{% static 'css/images/FARC.jpg' %}" alt="Club Logo" height="180" width="200" class="special">
			</div>
		</div>
		<!---->

		<!--Login Area--> <!--Comments added for changes-->
		<div class="box">
	        <h1>Login</h1>
	        <form method="post"> <!--POST-->
	        {% csrf_token %}	 <!--Cross-Site Request Forgery-->
	            <div class="inputBox">
	                <input type="text" name="username" required=""> <!--username-->
	                <label>Username</label>
	            </div>
	            <div class="inputBox">
	                <input type="password" name="password" required=""><!--password-->
	                <label>Password</label>
	            </div>
	                <input type="submit" name="" value="Submit">
	        </form>
	    </div>
	    <!---->
	    <div class="people">
		    <div class="student">
		    	<h1>Team Members</h1>
		    	<ol class="member">
		    		<li>Nishant Kumar 16IT123</li>
		    		<li>Yash M Agarwal 171CO253</li>
		    		<li>Shivam Potdar 171EE239</li>
		    	</ol>
		    </div>
		 
		    <div class="faculty">
		    	<h1>Faculty Members</h1>
		    	<ol class="teacher">
		    		<li>Professor Pruthviraj U.</li>
		    	</ol>
		    </div>
		</div>
	</body>
</html>